node_modules/
dist/
.DS_Store
.vscode/
.idea/
*.log
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/
android/app/release/
ios/App/build/
ios/App/Pods/
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
ios/DerivedData/
.capacitor/
*.keystore
